{erl_opts, [debug_info]}.
{plugins, [
  rebar3_path_deps
]}.
{deps, [{resource_discovery, {path, "resource_discovery"}},
        {tcp_interface, {path, "tcp_interface"}},
        {gen_web_server, {path, "gen_web_server"}},
        {http_interface, {path, "http_interface"}}]}.

{relx, [{release, {simple_cache, "0.1.0"},
         [simple_cache,
          sasl]},

        {mode, dev},

        %% automatically picked up if the files
        %% exist but can be set manually, which
        %% is required if the names aren't exactly
        %% sys.config and vm.args
        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"}

        %% the .src form of the configuration files do
        %% not require setting RELX_REPLACE_OS_VARS
        %% {sys_config_src, "./config/sys.config.src"},
        %% {vm_args_src, "./config/vm.args.src"}
]}.

{profiles, [{prod, [{relx,
                     [%% prod is the default mode when prod
                      %% profile is used, so does not have
                      %% to be explicitly included like this
                      {mode, prod}

                      %% use minimal mode to exclude ERTS
                      %% {mode, minimal}
                     ]
            }]}]}.
