[{kernel, [{distributed, [{bsc, 1000, ['n1@Porshias-MacBook-Pro', {'n2@Porshias-MacBook-Pro', 'n3@Porshias-MacBook-Pro'}, 'n4@Porshias-MacBook-Pro']}]},
  {sync_nodes_mandatory, ['n1@Porshias-MacBook-Pro']},
  {sync_nodes_optional, ['n2@Porshias-MacBook-Pro', 'n3@Porshias-MacBook-Pro', 'n4@Porshias-MacBook-Pro']},
  {sync_nodes_timeout, 15000}]},
  {bsc,  [{frequencies, [1,2,3,4,5,6]}]}].